* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* This is the header (logo and nav-bar) section */
header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 4;
  opacity: 0.98;
}
    .logo {
    padding: 20px 50px;
    flex: 40%;
    }
    .menu-icon {
    display: none;
    }
    .nav-bar {
    flex: 60%;
    }
    .nav-bar ul {
    list-style: none;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    }

    .nav-bar li {
    padding: 30px;
    }
    .nav-bar a {
    text-decoration: none;
    color: #000000;
    }
    .nav-bar a:hover {
    font-weight: bold;
    }

/* This is the hero section */
section.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
  flex-wrap: wrap;
  margin: auto;
  /* border: 1px solid black; */
}
    .sub-hero {
    flex: 60%;
    padding: 20px 0 0 30px;
    /* border: 1px solid black; */
    }
    .sub-hero img{
      width: 707.47px;
      height: 545px;
    }

    .article {
    flex: 40%;
    padding: 170px 30px 0 10px;
    color: #222222;
    /* border: 1px solid black; */
    }
    .article h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 16px;
    }
    .article p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding: 0 20px 0 0;
    }
 

.hero-ball {
  width: 150px;
  height: 150px;
  background-color: #200937;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -50px;
  margin-left: 1150px;
}

/* This is the second section  */
.section-2 {
  padding: 80px 50px;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 50px;
  margin-top: 20px;
}
.section-2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}
hr {
  width: 140px;
  height: 10px;
  background-color: #200937;
  border: none;
  margin: 20px auto 20px auto;
}
.article-2 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.article-2 h3 {
  font-weight: 600;
  font-size: 22px;
}

.sub-article {
  margin: 0 67px;
  flex: 22.5%;
}

.icon-holder div {
  border-radius: 100%;
}

.icon-holder-1 {
  width: 140px;
  height: 140px;
  background-color: #f7f1fd;
  margin: 20px auto;
}
.icon-holder-2 {
  width: 120px;
  height: 120px;
  background-color: #f2e5ff;
  position: relative;
  top: 10px;
  left: 10px;
}
.icon-holder-3 {
  width: 90px;
  height: 90px;
  background-color: #f2e5ff;
  position: relative;
  top: 15px;
  left: 15px;
}

/* This is the fourth section */
.section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0 0 0;
  background: #f9f3ff;
}
/* .section-3 div {
        border: 1px solid black;
} */

.img-phone {
  padding-left: 80px;
  flex: 40%;
}
.img-phone img {
  width: 100%;
}
.phone-article {
  padding-left: 50px;
  flex: 60%;
}
.phone-article h2 {
  font-weight: 600;
  font-size: 50px;
}
.phone-article p {
  width: 400px;
  /* padding-right: 300px; */
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* This is the fifth section */
.section-4 {
  text-align: center;
  padding: 50px 50px;
}

.article-4 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}
.sub-arti-4 {
  width: 300px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 50px 10px;
}
.sub-arti-4 p{
    padding-top: 20px ;
}

.section-5 {
  text-align: center;
  line-height: 50px;
  background-color: #f9f3ff;
}
.article-5 {
  padding: 50px;
}
button {
  width: 222px;
  height: 53px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  background-color: #cac0e5;
  border: 0.5px solid #cac0e6;
}
button:hover {
  background-color: #ffffff;
}

/* This is the footer section */
footer {
  background-color: #200937;
  color: #ffffff;
}
.Upfooter {
  display: flex;
  padding: 50px 0 0 60px;
  justify-content: flex-start;
  /* flex-wrap: wrap;   */
}

.Upfoot-2 {
  padding: 20px 0 0 0;
  margin-left: 200px;
}
.Upfoot-3 {
  padding: 20px 0 0 0;
  margin-left: 100px;
}

.Upfooter h5 {
  font-weight: 500;
  font-size: 20px;
}
.Upfooter ul {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
}
.Upfooter li {
  line-height: 30px;
  margin-top: 10px;
}
.foot-img {
  margin-left: 60px;
}
.foot-line {
  max-width: 95%;
  height: 150px;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto;
}

.foot-icon {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  padding: 20px 100px 40px 0;
}
.icon-1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 30px;
  border: 0.5px solid #ffffff;
}
.logo-shot {
  position: relative;
  top: 10px;
  left: 10px;
}
.img-shot {
  position: relative;
  left: 15px;
}

@media (max-width: 800px) {
  body {
    font-family: "Noto sans", sans-serif;
  }
  .nav-bar {
    display: none;
  }
  .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
    width: 50px;
    cursor: pointer;
  }

  .hero-ball {
    display: none;
  }

  section.hero {
    flex-direction: column;
    padding: 0%;
  }

  .article {
    padding: 50px 30px 0 10px;
    color: #200937;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    
  }
  .article, .sub-hero {
    flex: 100%;
  }
  .article h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
  }
  .sub-hero img {
    width: 100%;
  }

  .Upfooter {
    justify-content: flex-start;
  }

  .Upfoot-2 {
    padding: 20px 0 0 0;
    margin-left: 50px;
  }
  .Upfoot-3 {
    padding: 20px 0 0 0;
    margin-left: 50px;
  }
  .foot-icon {
    padding: 20px 40px 40px 0;
  }
  .section-3 {
    flex: 100%;
  }
  .img-phone {
    flex: 100%;

  }
  .img-phone img {
    width: 100%;
  }
  .article-4 {
    flex: 100%;
  }
  .sub-arti-4 {
    padding: 20px 5px;
    text-align: center;
  }
  .article-2 {
    padding-top: 50px;
    flex: 100%;
    justify-content: flex-start;
    text-align: justify;
  }
  .sub-article {
    flex: 100%;
  }
}
